openapi: 3.0.3
info:
  title: TCT Foundation Portal Authentication & User Management API
  x-api-versioning:
    strategy: "/v1/resource"  # URL path versioning (/v1/resource)
    deprecation-policy: |
      APIs are supported for 12 months after deprecation notice.
      Deprecated endpoints will return Warning headers.
    supported-versions: ["v1"]
    deprecated-versions: []
  description: |
    ***The Cometbid Technology Foundation, TCTF***, Authentication & User Management API documentation based on the OpenAPI 3.0 specification. You can test run the apis
    against our live server with a pre-defined request, and get instant feedback on whether there was an error in the request, or the server could not process the request for some other reasons.

    This comprehensive API provides authentication, user management, and multi-factor authentication services for the TCTF Portal application.

    ## Features
    - **Complete Authentication Flow**: Sign-in, sign-out, token refresh with MFA support
    - **User Registration**: Account creation with email verification
    - **Password Management**: Secure password reset and change functionality
    - **Multi-Factor Authentication**: TOTP, backup codes, and temporary backup codes
    - **User Profile Management**: Complete profile CRUD operations
    - **Administrative Functions**: User management and status control
    - **Security Features**: Rate limiting, idempotency, CSRF protection, and comprehensive audit logging

    ## Security
    All endpoints implement enterprise-grade security including:
    - JWT-based authentication with refresh tokens
    - Rate limiting and account lockout protection
    - CSRF protection for state-changing operations
    - Comprehensive input validation and sanitization
    - Audit logging and monitoring

    ## Documentation References
    - <a href="/public/specs/docs/authentication-doc.html" target="_blank">Authentication Documentation</a>
    - <a href="/public/specs/docs/mfa-setup-doc.html" target="_blank">MFA Setup Guide</a>
    - <a href="/public/specs/docs/mfa-usage-doc.html" target="_blank">MFA Usage Guide</a>
    - <a href="/public/specs/docs/password-usage-doc.html" target="_blank">Password Management Guide</a>
    - <a href="/public/specs/docs/usage-create-profile.html" target="_blank">User Registration Guide</a>
    - <a href="/public/specs/docs/usage-username-recovery.html" target="_blank">Username Recovery Guide</a>
    - <a href="/public/specs/docs/usage-user-profile.html" target="_blank">User Profile Management</a>
    - <a href="/public/specs/docs/usage-email-verification.html" target="_blank">Email Verification Guide</a>
    - <a href="/public/specs/docs/usage-toggle-user-status.html" target="_blank">Admin Functions Guide</a>


    ## API Documentation and Testing
    You can test our APIs in this sandbox environment.
    You can make changes and test the APIs with a more robust data without affecting the production environment.

    We are constantly improving our APIs based on feedback from our users and will love to hear your feedbacks on how we can improve the API interface or format. 
    We use the OpenAPI specification to follow a design first approach in the implementation of this project!
    You can now help us improve the API whether it's by making changes to the definition itself or to the code:

    That way:
    - You can get access to the API first and offer your ideas for improvements to the API. 
    - You have the benefit of using the API right away without waiting for the final release implementation.
    - With time, we can improve the API in general based on your feedback, and expose some of the new features quicker.
    
    ## Support
    - Help us improve the API Documentation by reporting typos, semantics or grammatical errors that will make it more readable and comprehensible.
    - We value your feedback to improve the quality of the overall documentation.
    - For technical support, please contact us by email: support@cometbid.org

    **The TCT Foundation Team**  
    [The Cometbid Technology Foundation Inc.](https://www.cometbid.org)

  version: 1.0.0
  contact:
    name: TCTF Portal Team
    email: support@cometbid.org
    url: https://www.cometbid.org/support
    
  license:
    name: MIT License
    url: https://opensource.org/licenses/MIT 

servers:
  - url: https://api.cometbid.org/v1
    description: Production server
  - url: https://staging-api.cometbid.org/v1
    description: Staging server
  - url: https://dev-api.cometbid.org/v1
    description: Development server

security:
  - BearerAuth: []

paths:
  # Authentication Endpoints
  /auth/signin:
    post:
      tags: [Authentication]
      summary: User Authentication
      description: |
        Authenticate users with email and password credentials. Supports both regular authentication and MFA-enabled accounts.

        **Features:**
        - Secure credential validation
        - Account lockout protection (5 failed attempts)
        - MFA support with TOTP and Backup codes
        - Session management with Refresh tokens
        - Device tracking for security
        - Rate limiting (10 attempts per 5 minutes)

        **Flow:**
        1. Submit credentials
        2. If MFA enabled, complete MFA challenge
        3. Receive Access/Refresh tokens

        **Rate Limiting:** 10 attempts per 5 minutes per IP

        **Idempotency:** 2-minute window to prevent duplicate requests

        **Security Validations:**
        - Email verification required
        - Account must be enabled and active
        - Password complexity validation
        - Brute force protection

        **Usage Examples:**
        ```bash
        # Basic sign-in
        curl -X POST "https://dev-api.cometbid.org/v1/auth/signin" \
          -H "Content-Type: application/json" \
          -d '{"email": "user@example.com", "password": "SecurePass123!", "staySignedIn": false}'

        # Sign-in with stay signed in
        curl -X POST "https://dev-api.cometbid.org/v1/auth/signin" \
          -H "Content-Type: application/json" \
          -d '{"email": "user@example.com", "password": "SecurePass123!", "staySignedIn": true}'
        ```

        **Reference:** [Authentication Documentation](/public/specs/docs/authentication-doc.html#1-sign-in)
      operationId: signIn
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SignInRequest"
            examples:
              basic_signin:
                summary: Basic sign-in
                description: Standard authentication request
                value:
                  email: "user@example.com"
                  password: "SecurePassword123!"
                  staySignedIn: false
              stay_signed_in:
                summary: Stay signed in
                description: Authentication with extended session
                value:
                  email: "user@example.com"
                  password: "SecurePassword123!"
                  staySignedIn: true
      responses:
        "200":
          description: Authentication successful or MFA required
          headers:
            X-User-Session-ID:
              description: User Session ID (Signin was successful because Mfa is not required)
              schema:
                type: string
            X-Session-ID:
              description: Session ID (Mfa required)
              schema:
                type: string
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/SignInSuccessResponse"
                  - $ref: "#/components/schemas/MFARequiredResponse"
              examples:
                success:
                  summary: Complete authentication
                  value:
                    code: "SIGNIN_SUCCESS"
                    message: "Sign-in successful"
                    userSessionId: "sess_abc123"
                    tokens:
                      accessToken: "eyJhbGciOiJSUzI1NiIs..."
                      refreshToken: "eyJjdHkiOiJKV1QiLCJlbmMi..."
                      idToken: "eyJhbGciOiJSUzI1NiIs..."
                      tokenType: "Bearer"
                      expiresIn: 3600
                    user:
                      email: "u***@example.com"
                      emailVerified: true
                      mfaEnabled: false
                    timestamp: 1704110400000
                    correlationId: "req-12345"
                mfa_required:
                  summary: MFA verification required
                  value:
                    code: "MFA_REQUIRED"
                    message: "MFA verification required"
                    mfaSession:
                      sessionId: "mfa_sess_456"
                      expiresAt: "2024-01-01T13:00:00Z"
                    timestamp: 1704110400000
                    correlationId: "req-12345"
        "401":
          $ref: "#/components/responses/InvalidCredentialsError"
        "403":
          $ref: "#/components/responses/AccountDisabledError"
        "423":
          $ref: "#/components/responses/AccountLockedError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/ServerError"
        "501":
          $ref: "#/components/responses/NotImplementedError"

  /auth/signout:
    post:
      tags: [Authentication]
      summary: User Sign-out
      description: |
        Sign out users and invalidate their tokens. Supports both local and global sign-out options.

        **Features:**
        - Token invalidation (access and refresh tokens)
        - Session cleanup
        - Global sign-out from all devices
        - Cookie clearing
        - Device tracking for security

        **Token Sources:** Accepts refresh tokens from:
        - Request body (refreshToken field)
        - HTTP-only cookies (refreshToken cookie)
        - Custom headers (X-Refresh-Token)

        **Rate Limiting:** 20 requests per minute per user

        **Idempotency:** 5-minute window

        **Usage Examples:**
        ```bash
        # Basic sign-out
        curl -X POST "https://dev-api.cometbid.org/v1/auth/signout" \
          -H "Content-Type: application/json" \
          -H "Authorization: Bearer eyJhbGciOiJSUzI1NiIs..." \
          -d '{"email": "user@example.com", "refreshToken": "eyJjdHkiOiJKV1QiLCJlbmMi..."}'

        # Global sign-out
        curl -X POST "https://dev-api.cometbid.org/v1/auth/signout?globalSignout=true" \
          -H "Content-Type: application/json" \
          -d '{"email": "user@example.com", "globalSignout": true}'
        ```

        **Reference:** [Authentication Documentation](/public/specs/docs/authentication-doc.html#2-sign-out)
      operationId: signOut
      security:
        - BearerAuth: []
        #- {} # Optional authentication
      parameters:
        - name: X-User-Session-Id
          in: header
          description: User session identifier for tracking(this can also be a query parameter - 'user-session-id')
          required: false
          schema:
            type: string
            example: "session_1234..."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SignOutRequest"
            examples:
              local_signout:
                summary: Local sign-out
                value:
                  email: "user@example.com"
                  refreshToken: "eyJjdHkiOiJKV1QiLCJlbmMi..."
                  globalSignout: false
              global_signout:
                summary: Global sign-out
                value:
                  email: "user@example.com"
                  refreshToken: "eyJjdHkiOiJKV1QiLCJlbmMi..."
                  globalSignout: true
      responses:
        "200":
          description: Sign-out successful
          headers:
            Set-Cookie:
              description: Clears refresh token cookie
              schema:
                type: string
                example: "refreshToken=; Path=/; HttpOnly; Secure; SameSite=Strict; Max-Age=0"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SignOutResponse"
        "400":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/ServerError"

  /auth/refresh-token:
    post:
      tags: [Authentication]
      summary: Refresh access token
      description: |
        Refresh expired access tokens using a valid Refresh token. Essential for maintaining user sessions.

        **Features:**
        - Access token renewal
        - Refresh token rotation (new refresh token issued)
        - Session validation
        - Token ownership verification
        - Automatic session updates
        - Automatic retry with exponential backoff

        **Token Sources:** Accepts refresh tokens from:
        - Request body (refreshToken field)
        - HTTP-only cookies (refreshToken cookie)
        - Custom headers (X-Refresh-Token)

        **Rate Limiting:** 30 requests per minute per user

        **Idempotency:** 5-minute window

        **Security Validations:**
        - Token ownership verification
        - Session validity checks
        - User account status validation

        **Usage Examples:**
        ```bash
        # Token refresh with body
        curl -X POST "https://dev-api.cometbid.org/v1/auth/refresh-token?user-session-id=sess_abc123" \
          -H "Content-Type: application/json" \
          -d '{"email": "user@example.com", "refreshToken": "eyJjdHkiOiJKV1QiLCJlbmMi..."}'

        # Token refresh with cookie
        curl -X POST "https://dev-api.cometbid.org/v1/auth/refresh-token?user-session-id=sess_abc123" \
          -H "Cookie: refreshToken=eyJjdHkiOiJKV1QiLCJlbmMi..." \
          -d '{"email": "user@example.com"}'
        ```

        **Reference:** [Authentication Documentation](/public/specs/docs/authentication-doc.html#3-refresh-token)
      operationId: refreshToken
      parameters:
        - name: X-User-Session-Id
          in: header
          description: User session identifier for tracking(this can also be a query parameter - 'user-session-id')
          required: false
          schema:
            type: string
            example: "session_1234..."
        - name: Cookie
          in: header
          description: |
            HTTP cookie containing refresh token.
            **Format:** `refreshToken=<jwt_token>`
            **Example:** `refreshToken=eyJjdHkiOiJKV1QiLCJlbmMi...`
          required: false
          schema:
            type: string
            example: "refreshToken=eyJjdHkiOiJKV1QiLCJlbmMi..."
        - name: X-Refresh-Token
          in: header
          description: Custom header containing refresh token
          required: false
          schema:
            type: string
            example: "eyJjdHkiOiJKV1QiLCJlbmMi..."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefreshTokenRequest"
            examples:
              with_token_body:
                summary: Refresh with token in body
                description: Refresh token provided in request body
                value:
                  email: "user@example.com"
                  refreshToken: "eyJjdHkiOiJKV1QiLCJlbmMi..."
              cookie_based:
                summary: Refresh with cookie token
                description: |
                  Refresh token provided via HTTP cookie.
                  **Cookie Header:** `Cookie: refreshToken=eyJjdHkiOiJKV1QiLCJlbmMi...`
                  **Request Body:** Only email required
                value:
                  email: "user@example.com"
              header_based:
                summary: Refresh with custom header
                description: |
                  Refresh token provided via custom header.
                  **Header:** `X-Refresh-Token: eyJjdHkiOiJKV1QiLCJlbmMi...`
                  **Request Body:** Only email required
                value:
                  email: "user@example.com"
      responses:
        "200":
          description: Token refreshed successfully
          headers:
            Set-Cookie:
              description: |
                Updated refresh token cookie (if token rotation enabled).
                **Format:** `refreshToken=<new_jwt>; Path=/; HttpOnly; Secure; SameSite=Strict; Max-Age=604800`
              schema:
                type: string
                example: "refreshToken=eyJuZXciOiJKV1QiLCJlbmMi...; Path=/; HttpOnly; Secure; SameSite=Strict; Max-Age=604800"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RefreshTokenResponse"
        "401":
          $ref: "#/components/responses/InvalidRefreshTokenError"
        "403":
          $ref: "#/components/responses/TokenOwnershipError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/ServerError"
        "501":
          $ref: "#/components/responses/NotImplementedError"

  # User Registration Endpoints
  /account/signup:
    post:
      tags: [User Registration]
      summary: User Registration
      description: |
        Register a new user account with comprehensive validation and email verification.

        **Registration Process:**
        1. Submit registration details
        2. System validates information and creates account
        3. Verification email sent (code or link)
        4. User must verify email to activate account

        **Features:**
        - Complete user profile creation
        - Email uniqueness validation
        - Password strength enforcement
        - Membership name availability check
        - Automatic email verification initiation
        - CSRF token generation
        - Rate limiting
        - Idempotency protection

        **Membership Plans:**
        - `INDIVIDUAL`: Personal membership
        - `GROUP`: Small team membership
        - `ORGANIZATION`: Enterprise membership
        
        **Membership Tier(Optional):**
        - `BASIC`: Basic Tier
        - `PREMIUM`: Premium tier
        - `ENTERPRISE`: Enterprise tier
        
        **Validation Rules:**
        - Email: Valid format, not already registered
        - Password: Minimum 8 characters, complexity requirements
        - Membership Name: Unique, 2-50 characters
        - Required fields: firstName, lastName, email, password, state, country, membership name and plan, jobTitle
        - Default fields: selfEmployed

        **Rate Limiting:** 5 registrations per hour per IP

        **Usage Examples:**
        ```bash
        curl -X POST "https://dev-api.cometbid.org/v1/account/sign-up" \
          -H "Content-Type: application/json" \
          -d '{
            "email": "user@example.com",
            "password": "StrongP@ssw0rd",
            "firstName": "John",
            "lastName": "Doe",
            "membershipName": "johndoe123",
            "membershipPlan": "INDIVIDUAL",
            "jobTitle": "Software Engineer",
            "city": "San Francisco",
            "state": "CA",
            "country": "USA"
          }'
        ```

        **Reference:** [User Registration Guide](/public/specs/docs/usage-create-profile.html#sign-up-api)
      operationId: signUp
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SignUpRequest"
            examples:
              individual_member:
                summary: Individual membership
                value:
                  email: "john.doe@example.com"
                  password: "StrongP@ssw0rd"
                  firstName: "John"
                  lastName: "Doe"
                  membershipName: "johndoe123"
                  membershipPlan: "INDIVIDUAL"
                  membershipTier: "BASIC"
                  jobTitle: "Software Engineer"
                  companyName: "Tech Company"
                  selfEmployed: false
                  city: "San Francisco"
                  state: "CA"
                  country: "USA"
              group_member:
                summary: Group membership
                value:
                  email: "greg.bunley@example.com"
                  password: "SecureP@ss123"
                  firstName: "Greg"
                  lastName: "Bunley"
                  membershipName: "gregbunley_group"
                  membershipPlan: "GROUP"
                  membershipTier: "PREMIUM"
                  jobTitle: "Software Architect"
                  companyName: "StarLink Group"
                  selfEmployed: false
                  city: "Atlanta"
                  state: "GA"
                  country: "USA"
              organization_member:
                summary: Organization membership
                value:
                  email: "admin@company.com"
                  password: "SecureP@ss123"
                  firstName: "Jane"
                  lastName: "Smith"
                  membershipName: "janesmith_admin"
                  membershipPlan: "ORGANIZATION"
                  membershipTier: "ENTERPRISE"
                  jobTitle: "CTO"
                  companyName: "Enterprise Corp"
                  selfEmployed: false
                  city: "New York"
                  state: "NY"
                  country: "USA"
      responses:
        "201":
          description: User registered successfully
          headers:
            X-Session-ID:
              description: Session ID for verification process
              schema:
                type: string
            X-CSRF-Token:
              description: CSRF token for verification
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SignUpResponse"
              examples:
                success_response:
                  summary: Successful registration
                  value:
                    correlationId: "12345678-1234-1234-1234-123456789012"
                    message: "User registration successful"
                    timestamp: 1623456789000
                    detailMessage: "Please check your email for a verification code to complete your registration"
                    email: "u***r@e***e.com"
                    sessionId: "abcdef-1234-5678-90ab-cdef12345678"
                    verificationRequired: true
                    csrfToken: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
        "409":
          description: Email or membership name already exists
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "An account with this email already exists"
                  code:
                    type: string
                    enum: [SIGNUP_USER_EXISTS, SIGNUP_MEMBER_EXISTS]
                  correlationId:
                    type: string
                    example: "12345678-1234-1234-1234-123456789012"
                  timestamp:
                    type: integer
                    format: int64
                    example: 1623456789000
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Invalid request parameters: password must be at least 8 characters"
                  code:
                    type: string
                    enum: [VALIDATION_ERROR]
                  correlationId:
                    type: string
                    example: "12345678-1234-1234-1234-123456789012"
                  timestamp:
                    type: integer
                    format: int64
                    example: 1623456789000
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/ServerError"
        "501":
          $ref: "#/components/responses/NotImplementedError"
          
  /account/signup/confirm:
    post:
      tags: [User Registration]
      summary: Confirm User Registration
      description: |
        Confirm user registration using verification code or link with CSRF protection.

        **Verification Methods:**
        1. **Code Verification**: Submit 6-digit code received via email
        2. **Link Verification**: Click verification link in email (GET request)

        **Features:**
        - CSRF token validation
        - Code expiration handling (15-30 minutes)
        - Attempt limiting (5 attempts per session)
        - Automatic account activation
        - Welcome email sending

        **Usage Examples:**

        ```bash
        # Code verification
        curl -X POST "https://dev-api.cometbid.org/v1/account/signup/confirm?sessionId=sess_123" \
          -H "Content-Type: application/json" \
          -d '{
            "email": "user@example.com",
            "verificationCode": "123456",
            "csrfToken": "eyJhbGciOiJIUzI1NiIs..."
          }'
        ```

        **Reference:** [User Registration Guide](/public/specs/docs/usage-create-profile.html#confirm-sign-up-api)
      operationId: postConfirmSignup
      parameters:
        - name: X-Session-Id
          in: header
          description: Session identifier for tracking(this can also be a query parameter - 'session-id')
          required: true
          schema:
            type: string
            example: "session_1234..."
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConfirmSignupRequest"
            examples:
              code_verification:
                summary: Code verification
                value:
                  email: "user@example.com"
                  verificationCode: "123456"
                  csrfToken: "eyJhbGciOiJIUzI1NiIs..."
      responses:
        "200":
          description: Registration confirmed successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConfirmSignupResponse"
            text/html:
              schema:
                type: string
                description: HTML confirmation page 
              example: |
                <!DOCTYPE html>
                <html>
                <head><title>Email Verified</title></head>
                <body>
                  <h1>Email Verification Successful</h1>
                  <p>Your email has been verified successfully. You can now sign in to your account.</p>
                  <a href="/login">Sign In</a>
                </body>
                </html>
        "400":
          $ref: "#/components/responses/InvalidVerificationCodeError"
        "404":
          $ref: "#/components/responses/SessionExpiredError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/ServerError"
        "501":
          $ref: "#/components/responses/NotImplementedError"

    get:
      tags: [User Registration]
      summary: Verify email via link
      description: |
        Verify email address using verification link from email.

        **Usage:**
        - User clicks verification link in email
        - System validates token and completes verification
        - Returns HTML page with verification result

        **Features:**
        - Single-click verification
        - CSRF protection embedded in token
        - Automatic redirect options
        - Mobile-friendly HTML response
      operationId: getConfirmSignup
      parameters:
        - name: token
          in: query
          required: true
          description: Verification token from email
          schema:
            type: string
      responses:
        "200":
          description: Registration confirmed successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConfirmSignupResponse"
            text/html:
              schema:
                type: string
                description: HTML confirmation page for link verification
              example: |
                <!DOCTYPE html>
                <html>
                <head><title>Email Verified</title></head>
                <body>
                  <h1>Email Verification Successful</h1>
                  <p>Your email has been verified successfully. You can now sign in to your account.</p>
                  <a href="/login">Sign In</a>
                </body>
                </html>
            
        "400":
          $ref: "#/components/responses/InvalidVerificationLinkError"
        "404":
          $ref: "#/components/responses/SessionNotFoundError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/ServerError"
        "501":
          $ref: "#/components/responses/NotImplementedError"

  # Email Verification Endpoints
  /account/email-verification:
    post:
      tags: [Email Verification]
      summary: Request email verification
      description: |
        Request email verification for existing users.

        **Use Cases:**
        - Re-verify email after address change
        - Resend verification for unverified accounts
        - Periodic email verification for security

        **Verification Modes:**
        - `CODE`: Send 6-digit verification code
        - `LINK`: Send clickable verification link

        **Features:**
        - Flexible verification methods
        - Rate limiting (prevents spam)
        - CSRF protection
        - Session management

        **Reference:** [Email Verification Documentation](/public/specs/docs/usage-email-verification.html#request-email-verification-api)
      operationId: requestEmailVerification
      security:
        - BearerAuth: []
      parameters:
        - name: X-Session-Id
          in: header
          description: session identifier(this can also be a query parameter)
          required: false
          schema:
            type: string
            example: "req_1234..."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmailVerificationRequest"
            examples:
              code_verification:
                summary: Request verification code
                value:
                  email: "user@example.com"
                  vMode: "CODE"
                  csrfToken: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
              link_verification:
                summary: Request verification link
                value:
                  email: "user@example.com"
                  vMode: "LINK"
                  csrfToken: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
               
      responses:
        "200":
          description: Verification email sent
          headers:
            X-Session-ID:
              description: Verification session ID
              schema:
                type: string
            X-CSRF-Token:
              description: CSRF token for verification
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmailVerificationResponse"
        "404":
          description: User not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "User not found"
                  code:
                    type: string
                    enum: [USER_NOT_FOUND]
        "429":
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Too many requests. Please try again later."
                  code:
                    type: string
                    enum: [RATE_LIMIT_EXCEEDED]
        '500':
          $ref: "#/components/responses/ServerError"
        "501":
          $ref: "#/components/responses/NotImplementedError"

  /account/email-verification/confirm:
    post:
      tags: [Email Verification]
      summary: Verify email with code
      description: |
        Verify email address using verification code.

        **Process:**
        1. User receives verification code via email
        2. User submits code through this endpoint
        3. System validates code and marks email as verified

        **Security:**
        - CSRF token validation
        - Session validation
        - Code expiration handling
        - Rate limiting on attempts

        **Reference:** [Email Verification Documentation](/public/specs/docs/usage-email-verification.html#verify-email-api)
      operationId: verifyEmailCode
      parameters:
        - name: X-Session-Id
          in: header
          description: Session identifier for tracking(this can also be a query parameter - 'session-id')
          required: true
          schema:
            type: string
            example: "session_1234..."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerifyEmailRequest"
            examples:
              verify_code: 
                summary: Verify with code
                value:
                  email: "user@example.com"
                  verificationCode: "123456"
                  csrfToken: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                  
      responses:
        '200':
          description: Email verified successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerifyEmailResponse"
        '400':
          $ref: "#/components/responses/InvalidVerificationCodeError"
        '401':
          $ref: "#/components/responses/UnauthorizedError"
        '403':
          $ref: "#/components/responses/EmailAlreadyVerifiedError"
        '404':
          $ref: "#/components/responses/UserNotFoundError"
        '429':
          $ref: "#/components/responses/RateLimitError"
        '500':
          $ref: "#/components/responses/ServerError"
        "501":
          $ref: "#/components/responses/NotImplementedError"

    get:
      tags: [Email Verification]
      summary: Verify email via link
      description: |
        Verify email address using verification link.

        **Usage:**
        - User clicks verification link in email
        - System process verification automatically
        - Returns HTML confirmation page or Json response depending on the Accept Header

        **Features:**
        - One-click verification
        - Mobile-responsive HTML
        - Automatic session handling
        - Error page for invalid links
      operationId: verifyEmailLink
      parameters:
        - name: token
          in: query
          required: true
          description: Verification token from email link
          schema:
            type: string
      responses:
        '200':
          description: Email verified successfully
          content:
            text/html:
              schema:
                type: string
                description: HTML verification result page
                example: |
                  <!DOCTYPE html>
                  <html>
                  <head><title>Email Verified</title></head>
                  <body>
                    <h1>Email Verification Successful</h1>
                    <p>Your email has been verified successfully. You can now sign in to your account.</p>
                    <a href="/login">Sign In</a>
                  </body>
                  </html>
            application/json:
              schema:
                $ref: "#/components/schemas/VerifyEmailResponse"
        '400':
          $ref: "#/components/responses/InvalidVerificationLinkError"
        '403':
          $ref: "#/components/responses/EmailAlreadyVerifiedError"
        '404':
          $ref: "#/components/responses/SessionNotFoundError"
        '429':
          $ref: "#/components/responses/RateLimitError"
        '500':
          $ref: "#/components/responses/ServerError"
        "501":
          $ref: "#/components/responses/NotImplementedError"

  # Username Recovery Endpoint
  /account/username:
    post:
      tags: [Account Recovery]
      summary: Username recovery
      description: |
        Recover username/email using personal information.

        **Recovery Process:**
        1. User provides personal details (name, membership name)
        2. System searches for matching account
        3. If found, sends masked email to help user identify account
        4. Recovery email sent with full username

        **Security Features:**
        - Rate limiting to prevent abuse
        - Information masking for privacy
        - Audit logging for security
        - Cache support for performance

        **Reference:** [Username Recovery Documentation](/public/specs/docs/usage-username-recovery.html)
      operationId: usernameRecovery
      parameters:
        - name: bypassCache
          in: query
          description: Force fresh lookup bypassing cache
          schema:
            type: boolean
            default: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UsernameRecoveryRequest"
            examples:
              recovery_request:
                summary: Username recovery request
                value:
                  firstName: "John"
                  lastName: "Doe"
                  membershipName: "johndoe123"
      responses:
        "200":
          description: Username recovery email sent
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsernameRecoveryResponse"
        "404":
          description: No matching user found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "No user found matching the provided information"
                  code:
                    type: string
                    enum: [USERNAME_NOT_FOUND]
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/ServerError"
        "501":
          $ref: "#/components/responses/NotImplementedError"

  # Password Management Endpoints
  /auth/forgot-password:
    post:
      tags: [Account Recovery, Password Management]
      summary: Initiate Password Reset
      description: |
        Initiate password reset process by sending a reset code to user's email.

        **Features:**
        - Email validation and user verification
        - Reset code generation (6-digit numeric)
        - Email delivery with expiration (30 minutes)
        - Session creation for reset flow
        - Rate limiting protection

        **Process:**
        1. User provides email address
        2. System validates email and account status
        3. Reset code sent to email
        4. Session created for reset process

        **Security Validations:**
        - Email must be verified
        - Account must be enabled
        - User must exist in system

        **Rate Limiting:** 1 request per hour per email

        **Idempotency:** 1-hour window to prevent spam

        **Usage Examples:**
        ```bash
        curl -X POST "https://dev-api.cometbid.org/v1/auth/forgot-password" \
          -H "Content-Type: application/json" \
          -d '{"email": "user@example.com"}'
        ```

        **Reference:** [Password Management Guide](/public/specs/docs/password-usage-doc.html#2-forgot-password)
      operationId: forgotPassword
      parameters:
        - name: X-Session-Id
          in: header
          description: Existing session ID if available for tracking(this can also be a query parameter - 'session-id')
          required: false
          schema:
            type: string
            example: "session_1234..."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ForgotPasswordRequest"
      responses:
        "200":
          description: Password reset code sent successfully to your email
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForgotPasswordResponse"
        "403":
          $ref: "#/components/responses/EmailNotVerifiedError"
        "404":
          $ref: "#/components/responses/UserNotFoundError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/ServerError"
        "501":
          $ref: "#/components/responses/NotImplementedError"

  /auth/forgot-password/verify-code:
    post:
      tags: [Account Recovery, Password Management]
      summary: Verify Password Reset Code
      description: |
        Verify the password reset code received via email and authorize password reset.

        **Features:**
        - 6-digit numeric code verification
        - Limited attempts (5 per session)
        - Code expiration (typically 30 minutes)
        - Code validation with expiration check
        - Attempt limiting (5 attempts per session)
        - Session verification and marking
        - Security logging

        **Usage Examples:**
        ```bash
        curl -X POST "https://dev-api.cometbid.org/v1/auth/forgot-password/verify-code?session-id=reset_sess_456" \
          -H "Content-Type: application/json" \
          -d '{"code": "123456"}'
        ```

        **Reference:** [Password Management Guide](/public/specs/docs/password-usage-doc.html#3-verify-reset-code)
      operationId: verifyResetCode
      parameters:
        - name: X-Session-Id
          in: header
          description: Reset session ID if available for tracking(this can also be a query parameter - 'session-id')
          required: true
          schema:
            type: string
            example: "reset_sess_456..."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerifyResetCodeRequest"
      responses:
        "200":
          description: Reset code verified successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerifyResetCodeResponse"
        "400":
          $ref: "#/components/responses/InvalidVerificationCodeError"
        "404":
          $ref: "#/components/responses/SessionNotFoundError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/ServerError"
        "501":
          $ref: "#/components/responses/NotImplementedError"

  /auth/forgot-password/resend-code:
    post:
      tags: [Account Recovery, Password Management]
      summary: Resend password reset code
      description: |
        Resend password reset code using existing session.

        **Features:**
        - Uses existing reset session
        - Same rate limits as forgot-password
        - Updates code expiration time
        - Maintains session continuity

        **Reference:** [Password Documentation](/public/specs/docs/password-usage-doc.html#4-resend-reset-code)
      operationId: resendResetCode
      parameters:
        - name: X-Session-Id
          in: header
          description: Reset session ID for tracking(this can also be a query parameter - 'session-id')
          required: true
          schema:
            type: string
            example: "reset_sess_456..."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
                  example: "user@example.com"
      responses:
        "200":
          description: Reset code resent
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Reset code sent successfully"
                  sessionId:
                    type: string
                  expiresIn:
                    type: integer
                    description: Code expiration in seconds
                    example: 20
                  remainingAttempts:
                    type: integer
                    description: Remaining attempts before lockout
                    example: 4
        "404":
          $ref: "#/components/responses/SessionNotFoundError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/ServerError"
        "501":
          $ref: "#/components/responses/NotImplementedError"

  /auth/forgot-password/confirm:
    post:
      tags: [Account Recovery, Password Management]
      summary: Complete Password Reset
      description: |
        Complete password reset process with new password after code verification.

        **Features:**
        - Password strength validation
        - Session verification (must be verified)
        - Email matching validation
        - Password update in Cognito
        - Session cleanup
        - Confirmation email sending

        **Password Requirements:**
        - Minimum 8 characters
        - At least one uppercase letter
        - At least one lowercase letter
        - At least one number
        - At least one special character
        - Cannot be same as current password

        **Requirements:**
        - Valid verified reset session
        - New password meeting security requirements
        - Email address confirmation

        **Security:**
        - Session must be verified first
        - Rate limiting (3 attempts per session)
        - Password strength validation
        - Session invalidation after completion
        - Audit logging for security

        **Idempotency:** 1-hour window to prevent spam

        **Usage Examples:**
        ```bash
        curl -X POST "https://api.cometbid.org/v1/auth/password/confirm-password-reset?session-id=reset_sess_456" \
          -H "Content-Type: application/json" \
          -d '{
            "email": "user@example.com",
            "newPassword": "NewSecurePassword789!"
          }'
        ```

        **Reference:** [Password Management Guide](/public/specs/docs/password-usage-doc.html#5-confirm-password-reset)
      operationId: confirmPasswordReset
      parameters:
        - name: X-Session-Id
          in: header
          description: Verified reset session ID for tracking(this can also be a query parameter - 'session-id')
          required: true
          schema:
            type: string
            example: "reset_sess_456..."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConfirmPasswordResetRequest"
      responses:
        "200":
          description: Password reset completed successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConfirmPasswordResetResponse"
        "400":
          $ref: "#/components/responses/ValidationError"
        "404":
          $ref: "#/components/responses/SessionNotFoundError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/ServerError"
        "501":
          $ref: "#/components/responses/NotImplementedError"

  /auth/change-password:
    post:
      tags: [Password Management]
      summary: Change Password
      description: |
        Change user password with current password verification (requires authentication).

        **Features:**
        - Current password verification required
        - Rate limiting (5 attempts per day per user)
        - New password strength validation
        - Account status verification
        - Audit logging for security
        - Session validation

        **Password Requirements:**
        - Minimum 8 characters
        - At least one uppercase letter
        - At least one lowercase letter
        - At least one number
        - At least one special character
        - Cannot be same as current password

        **Security Validations:**
        - Valid access token required
        - Current password must be correct
        - New password must meet complexity requirements
        - Cannot reuse current password

        **Rate Limiting:** 5 attempts per day per user

        **Usage Examples:**
        ```bash
        curl -X POST "https://dev-api.cometbid.org/v1/auth/change-password?user-session-id=sess_123" \
          -H "Authorization: Bearer eyJhbGciOiJSUzI1NiIs..." \
          -H "Content-Type: application/json" \
          -d '{
            "currentPassword": "CurrentPassword123!",
            "newPassword": "NewSecurePassword456!"
          }'
        ```

        **Reference:** [Password Management Guide](/public/specs/docs/password-usage-doc.html#1-change-password)
      operationId: changePassword
      security:
        - BearerAuth: []
      parameters:
        - name: X-User-Session-Id
          in: header
          description: User session ID for tracking(this can also be a query parameter - 'user-session-id')
          required: true
          schema:
            type: string
            example: "sess_456..."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChangePasswordRequest"
            examples:
              change_password:
                summary: Change password request
                value:
                  currentPassword: "CurrentPassword123!"
                  newPassword: "NewSecurePassword456!"
      responses:
        "200":
          description: Password changed successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PasswordChangeResponse"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/InvalidPasswordError"
        "403":
          $ref: "#/components/responses/AccountStatusError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/ServerError"
        "501":
          $ref: "#/components/responses/NotImplementedError"

  # MFA Endpoints
  /auth/mfa/setup:
    post:
      tags: [Multi-Factor Authentication]
      summary: Initialize MFA Setup
      description: |
        Initialize MFA setup for user account with QR code generation.

        **Features:**
        - TOTP secret generation
        - QR code creation for authenticator apps
        - Device name registration
        - Setup session creation

        **Supported MFA Types:**
        - SOFTWARE_TOKEN_MFA (TOTP)
        - SMS_MFA (future implementation)

        **Supported Authenticators:**
        - Google Authenticator
        - Microsoft Authenticator
        - Authy
        - Any RFC 6238 compliant app

        **Usage Examples:**
        ```bash
        curl -X POST "https://dev-api.cometbid.org/v1/auth/mfa/setup" \
          -H "Authorization: Bearer eyJhbGciOiJSUzI1NiIs..." \
          -H "Content-Type: application/json" \
          -d '{
            "mfaType": "SOFTWARE_TOKEN_MFA",
            "email": "user@example.com",
            "deviceName": "My iPhone"
          }'
        ```

        **Reference:** [MFA Usage Guide](/public/specs/docs/mfa-usage-doc.html)
      operationId: setupMFA
      security:
        - BearerAuth: []
      parameters:
        - name: X-User-Session-Id
          in: header
          description: User session ID for tracking(this can also be a query parameter - 'user-session-id')
          required: true
          schema:
            type: string
            example: "sess_456..."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MFASetupRequest"
      responses:
        "200":
          description: MFA setup initiated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MFASetupResponse"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "500":
          $ref: "#/components/responses/ServerError"

  /auth/mfa/complete-setup:
    post:
      tags: [Multi-Factor Authentication]
      summary: Complete MFA Setup
      description: |
        Complete MFA setup by verifying two consecutive TOTP codes.

        **Features:**
        - Dual code verification for accuracy
        - Backup codes generation
        - MFA activation
        - Setup session cleanup

        **Verification Process:**
        1. User scans QR code with authenticator app
        2. User provides two consecutive TOTP codes
        3. System verifies both codes
        4. MFA is activated and backup codes generated

        **Usage Examples:**
        ```bash
        curl -X POST "https://dev-api.cometbid.org/v1/auth/mfa/complete-setup" \
          -H "Authorization: Bearer eyJhbGciOiJSUzI1NiIs..." \
          -H "Content-Type: application/json" \
          -d '{
            "email": "user@example.com",
            "deviceName": "My iPhone",
            "code1": "123456",
            "code2": "789012"
          }'
        ```

        **Reference:** [MFA Usage Guide](/public/specs/docs/mfa-usage-doc.html)
      operationId: completeMFASetup
      security:
        - BearerAuth: []
      parameters:
        - name: X-User-Session-Id
          in: header
          description: User session ID for tracking(this can also be a query parameter - 'user-session-id')
          required: true
          schema:
            type: string
            example: "sess_456..."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MFASetupVerifyRequest"
      responses:
        "200":
          description: MFA setup completed successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MFASetupCompleteResponse"
        "400":
          $ref: "#/components/responses/InvalidVerificationCodeError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "500":
          $ref: "#/components/responses/ServerError"
        "501":
          $ref: "#/components/responses/NotImplementedError"

  /auth/mfa/toggle:
    post:
      tags: [Multi-Factor Authentication]
      summary: Enable/Disable MFA
      description: |
        Enable or disable MFA for user account with proper verification.

        **Features:**
        - MFA enable/disable functionality
        - Current MFA code verification for disable
        - Backup codes generation on enable
        - Security audit logging

        **Enable MFA Process:**
        1. Provide MFA type and device name
        2. System generates secret and QR code
        3. User completes setup verification

        **Disable MFA Process:**
        1. Provide current MFA code
        2. System verifies code
        3. MFA is disabled and backup codes invalidated

        **Usage Examples:**
        ```bash
        # Enable MFA
        curl -X POST "https://dev-api.cometbid.org/v1/auth/mfa/toggle?user-session-id=sess_123" \
          -H "Authorization: Bearer eyJhbGciOiJSUzI1NiIs..." \
          -H "Content-Type: application/json" \
          -d '{
            "email": "user@example.com",
            "action": "ENABLE",
            "mfaType": "SOFTWARE_TOKEN_MFA",
            "deviceName": "My Phone"
          }'

        # Disable MFA
        curl -X POST "https://dev-api.cometbid.org/v1/auth/mfa/toggle?user-session-id=sess_123" \
          -H "Authorization: Bearer eyJhbGciOiJSUzI1NiIs..." \
          -H "Content-Type: application/json" \
          -d '{
            "email": "user@example.com",
            "action": "DISABLE",
            "mfaCode": "123456"
          }'
        ```

        **Reference:** [MFA Usage Guide](/public/specs/docs/mfa-usage-doc.html#7-mfa-toggle)
      operationId: toggleMFA
      security:
        - BearerAuth: []
      parameters:
        - name: X-User-Session-Id
          in: header
          description: User session ID for tracking(this can also be a query parameter - 'user-session-id')
          required: true
          schema:
            type: string
            example: "sess_456..."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MFAToggleRequest"
            examples:
              enable_mfa:
                summary: Enable MFA
                value:
                  email: "user@example.com"
                  action: "ENABLE"
                  mfaType: "SOFTWARE_TOKEN_MFA"
                  deviceName: "My Phone"
              disable_mfa:
                summary: Disable MFA
                value:
                  email: "user@example.com"
                  action: "DISABLE"
                  mfaCode: "123456"
      responses:
        "200":
          description: MFA toggled successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MFAToggleResponse"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/ServerError"
        "501":
          $ref: "#/components/responses/NotImplementedError"

  /auth/mfa/status:
    get:
      tags: [Multi-Factor Authentication]
      summary: Get MFA Status
      description: |
        Retrieve current MFA configuration and status for authenticated user.

        **Features:**
        - Current MFA settings
        - Device information
        - Backup codes status
        - Temporary backup code status
        - Last activity information

        **Information Provided:**
        - MFA enabled status
        - Configured MFA methods
        - Backup codes status
        - Temporary backup code status
        - Device information
        - Last usage timestamps

        **Response Information:**
        - MFA enabled/disabled status
        - Preferred MFA method
        - Available MFA methods
        - Backup codes remaining count
        - Temporary backup code status
        - Device details and last usage

        **Usage Examples:**
        ```bash
        curl -X GET "https://api.cometbid.org/v1/auth/mfa/status?sessionId=sess_123" \
          -H "Authorization: Bearer eyJhbGciOiJSUzI1NiIs..."
        ```

        **Reference:** [MFA Usage Guide](/public/specs/docs/mfa-usage-doc.html#6-get-mfa-status)
      operationId: getMFAStatus
      security:
        - BearerAuth: []
      parameters:
        - name: X-User-Session-Id
          in: header
          description: User session ID for tracking(this can also be a query parameter - 'user-session-id')
          required: true
          schema:
            type: string
            example: "sess_456..."
      responses:
        "200":
          description: MFA status retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MFAStatusResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/UserNotFoundError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/ServerError"
        "501":
          $ref: "#/components/responses/NotImplementedError"

  /auth/mfa/totp/signin:
    post:
      tags: [Multi-Factor Authentication]
      summary: Verify TOTP Code
      description: |
        Verify Time-based One-Time Password (TOTP) and complete authentication.

        **Features:**
        - TOTP code validation
        - Time window verification (±30 seconds)
        - Authentication completion
        - Session management
        - Token generation

        **Usage Context:**
        - Called after initial sign-in when MFA is required
        - Primary MFA verification method
        - Used after initial password authentication
        - Requires valid MFA session from sign-in
        - Completes the authentication flow

        **Code Requirements:**
        - 6-digit numeric code
        - Generated by authenticator app
        - Valid for 30-second window

        **Usage Examples:**
        ```bash
        curl -X POST "https://api.cometbid.org/v1/auth/mfa/verify-totp?session-id=mfa_sess_456" \
          -H "Content-Type: application/json" \
          -d '{
            "email": "user@example.com",
            "totpCode": "123456",
            "password": "userpassword",
            "staySignedIn": false
          }'
        ```

        **Reference:** [MFA Usage Guide](/public/specs/docs/mfa-usage-doc.html#5-verify-totp-code)
      operationId: verifyTOTP
      parameters:
        - name: X-Session-Id
          in: header
          description: MFA session ID from sign-in response(this can also be a query parameter - 'session-id')
          required: true
          schema:
            type: string
            example: "mfa_sess_456..."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TOTPVerifyRequest"
            examples:
              totp_verify:
                summary: TOTP verification
                value:
                  email: "user@example.com"
                  totpCode: "123456"
                  password: "userpassword"
                  staySignedIn: false
      responses:
        "200":
          description: TOTP verified successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SignInSuccessResponse"
        "400":
          $ref: "#/components/responses/InvalidTOTPCodeError"
        "401":
          $ref: "#/components/responses/InvalidMFASessionError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/ServerError"
        "501":
          $ref: "#/components/responses/NotImplementedError"

  /auth/mfa/backup-code:
    post:
      tags: [Multi-Factor Authentication]
      summary: Reset Backup Codes
      description: |
        Generate new set of backup codes, invalidating all previous ones.

        **Features:**
        - New backup codes generation (typically 5-10 codes)
        - Previous codes invalidation
        - Secure code generation
        - Email notification
        - Audit logging

        **Security Considerations:**
        - Requires valid access token
        - Email verification for ownership
        - MFA must be enabled
        - Rate limited to prevent abuse

        **Use Cases:**
        - Security compromise suspected
        - Periodic security maintenance
        - Running low on backup codes
        - Device migration
        - Emergency access

        **Response Information:**
        - New backup codes
        - Remaining backup codes count
        - Backup codes expiration timestamp
        - Backup codes remaining count

        **Usage Examples:**
        ```bash
        curl -X POST "https://api.cometbid.org/v1/auth/mfa/reset-backup-codes?userSessionId=sess_123" \
          -H "Authorization: Bearer eyJhbGciOiJSUzI1NiIs..." \
          -H "Content-Type: application/json" \
          -d '{"email": "user@example.com"}'
        ```

        **Reference:** [MFA Usage Guide](/public/specs/docs/mfa-usage-doc.html#3-reset-backup-codes)
      operationId: resetBackupCodes
      security:
        - BearerAuth: []
      parameters:
        - name: user-session-id
          in: query
          description: User session identifier
          required: true
          schema:
            type: string
            example: "sess_123"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResetBackupCodeRequest"
      responses:
        "200":
          description: Backup codes reset successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BackupCodesResponse"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/MFANotEnabledError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/ServerError"
        "501":
          $ref: "#/components/responses/NotImplementedError"

  /auth/mfa/temp-backup-code:
    post:
      tags: [Multi-Factor Authentication]
      summary: Generate Temporary Backup Code
      description: |
        Generate temporary backup code for emergency access when primary MFA device is unavailable.

        **Features:**
        - Single-use temporary code generation
        - Short expiration time (typically 1 hour)
        - Emergency access provision
        - Device tracking
        - Usage logging
        - Requires valid MFA session
        - Cannot be regenerated while active

        **Use Cases:**
        - Lost or broken MFA device
        - Travel without primary device
        - Emergency account access
        - Temporary device replacement
        - Travel scenarios

        **Security Features:**
        - Requires valid MFA session
        - Limited usage (single use)
        - Short expiration window
        - Comprehensive audit logging
        - Only one temporary code can be active at a time

        **Usage Examples:**
        ```bash
        curl -X POST "https://api.cometbid.org/v1/auth/mfa/generate-temp-backup-code?sessionId=mfa_sess_456" \
          -H "Content-Type: application/json"
        ```

        **Reference:** [MFA Usage Guide](/public/specs/docs/mfa-usage-doc.html#1-generate-temporary-backup-code)
      operationId: generateTempBackupCode
      parameters:
        - name: X-Session-Id
          in: header
          description: MFA session ID from sign-in response(this can also be a query parameter - 'session-id')
          required: true
          schema:
            type: string
            example: "mfa_sess_456..."
      responses:
        "200":
          description: Temporary backup code generated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TempBackupCodeResponse"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/InvalidMFASessionError"
        "403":
          $ref: "#/components/responses/AccountLockedError"
        "409":
          $ref: "#/components/responses/TempBackupCodeExistsError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/ServerError"
        "501":
          $ref: "#/components/responses/NotImplementedError"

  /auth/mfa/temp-backup-code/signin:
    post:
      tags: [Multi-Factor Authentication]
      summary: Verify temporary backup code
      description: |
        Verify temporary backup code and complete authentication.

        **Features:**
        - Single-use verification
        - Completes full authentication flow
        - Invalidates temporary code after use
        - Returns full token set

        **Reference:** [MFA Documentation](/public/specs/docs/mfa-usage-doc.html#2-verify-temporary-backup-code)
      operationId: verifyTempBackupCode
      parameters:
        - name: X-Session-Id
          in: header
          description: MFA session ID from sign-in response(this can also be a query parameter - 'session-id')
          required: true
          schema:
            type: string
            example: "mfa_sess_456..."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TempBackupCodeVerifyRequest"
      responses:
        "200":
          description: Temporary backup code verified
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SignInSuccessResponse"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/AccountLockedError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/ServerError"
        "501":
          $ref: "#/components/responses/NotImplementedError"

  /auth/mfa/backup-code/signin:
    post:
      tags: [Multi-Factor Authentication]
      summary: Verify Backup Code
      description: |
        Verify backup code for authentication when primary MFA is unavailable.

        **Features:**
        - Backup code validation
        - Single-use enforcement
        - Authentication completion
        - Code invalidation after use
        - Remaining codes tracking

        **Usage Scenarios:**
        - Primary MFA device lost or unavailable
        - Authenticator app malfunction
        - Emergency access situations

        **Usage Context:**
        - Alternative to TOTP when primary device unavailable
        - Emergency authentication method
        - Part of MFA authentication flow

        **Security:**
        - Each backup code is single-use
        - Codes are invalidated after use
        - Limited number of codes available

        **Usage Examples:**
        ```bash
        curl -X POST "https://dev-api.cometbid.org/v1/auth/mfa/backup-code/signin?session-id=mfa_sess_456" \
          -H "Content-Type: application/json" \
          -d '{
            "email": "user@example.com",
            "backupCode": "12345678",
            "password": "Userpassword_123",
            "staySignedIn": false
          }'
        ```

        **Reference:** [MFA Usage Guide](/public/specs/docs/mfa-usage-doc.html#4-verify-backup-code)
      operationId: verifyBackupCode
      parameters:
        - name: X-Session-Id
          in: header
          description: MFA session ID from sign-in response(this can also be a query parameter - 'session-id')
          required: true
          schema:
            type: string
            example: "mfa_sess_456..."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BackupCodeVerifyRequest"
      responses:
        "200":
          description: Backup code verified successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SignInSuccessResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "400":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/ServerError"
        "501":
          $ref: "#/components/responses/NotImplementedError"

  # User Profile Management Endpoints
  /users/profile:
    get:
      tags: [User Profile]
      summary: Get User Profile
      description: |
        Retrieve user profile information with flexible categorization and schema support.

        **Features:**
        - Categorized profile data (basic, professional, location, etc.)
        - Selective field retrieval
        - Schema introspection
        - HATEOAS navigation links
        - Schema information available
        - Flexible response customization
        - Full profile or specific categories

        **Available Categories:**
        - **basic**: Core user information (name, email, etc.)
        - **membership**: Membership details and status
        - **professional**: Job title, company, experience
        - **location**: Address and geographic information
        - **preferences**: User preferences and settings
        - **social**: Social media profiles
        - **security**: Security-related information
        - **metadata**: System metadata and timestamps

        **Usage Examples:**
        ```bash
        # Get basic profile
        curl -X GET "https://dev-api.cometbid.org/v1/user/profile?user-session-id=sess_123" \
          -H "Authorization: Bearer eyJhbGciOiJSUzI1NiIs..."

        # Get specific categories
        curl -X GET "https://dev-api.cometbid.org/v1/user/profile?user-session-id=sess_123&categories=basic,professional,location" \
          -H "Authorization: Bearer eyJhbGciOiJSUzI1NiIs..."

        # Get profile schema
        curl -X GET "https://dev-api.cometbid.org/v1/user/profile?schema=true" \
          -H "Authorization: Bearer eyJhbGciOiJSUzI1NiIs..."
        ```

        **Reference:** [User Profile Management](/public/specs/docs/usage-user-profile.html#2-get-user-profile-api)
      operationId: getUserProfile
      security:
        - BearerAuth: []
      parameters:
        - name: X-User-Session-Id
          in: header
          description: User session Identifier(this can also be a query parameter - 'user-session-id')
          required: true
          schema:
            type: string
            example: "sess_456..."
        - name: schema
          in: query
          description: Return profile schema instead of data
          required: false
          schema:
            type: boolean
            default: false
        - name: categories
          in: query
          description: Comma-separated list of categories to include
          required: false
          schema:
            type: string
            example: "basic,professional,location"
        - name: includeFullProfile
          in: query
          description: Include all profile categories
          required: false
          schema:
            type: boolean
            default: false
        - name: fields
          in: query
          description: Comma-separated list of specific fields
          required: false
          schema:
            type: string
            example: "firstName,lastName,email"
        - name: noLinks
          in: query
          description: Exclude HATEOAS links from response
          required: false
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: User profile retrieved
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/UserProfileResponse"
                  - $ref: "#/components/schemas/UserProfileSchemaResponse"
              examples:
                profile_data:
                  summary: Profile data response
                  value:
                    message: "User profile retrieved successfully"
                    code: "GET_USER_SUCCESS"
                    user:
                      basic:
                        userId: "12345"
                        email: "j***e@e***e.com"
                        firstName: "John"
                        lastName: "Doe"
                        membershipName: "johndoe123"
                      professional:
                        jobTitle: "Software Engineer"
                        companyName: "Tech Company"
                        selfEmployed: false
                schema_response:
                  summary: Schema response
                  value:
                    message: "Schema available"
                    schema:
                      basic:
                        - name: "firstName"
                          description: "User's first name"
                          isComposite: false
                    availableCategories: ["basic", "professional", "location"]
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/UserNotFoundError"
        "500":
          $ref: "#/components/responses/ServerError"
        "501":
          $ref: "#/components/responses/NotImplementedError"

    put:
      tags: [User Profile]
      summary: Update User Profile
      description: |
        Update user profile information with flexible field updates across categories.

        **Features:**
        - Partial updates across multiple categories
        - Field-level validation
        - Automatic categorization
        - Update tracking and audit
        - Sensitive field detection
        - Response customization

        **Updatable Categories:**
        - **Basic**: firstName, lastName, phoneNumber, profileImageUrl
        - **Professional**: jobTitle, companyName, selfEmployed, yearsOfExperience
        - **Location**: streetAddress, city, state, country, postalCode
        - **Preferences**: preferredLanguage, theme, timezone
        - **Social**: Social media profile URLs
        - **Skills & Interests**: Professional skills and personal interests

        **Validation Rules:**
        - Email cannot be changed (use separate endpoint)
        - Phone numbers must be valid format
        - URLs must be valid format
        - Required fields cannot be set to null

        **Usage Examples:**
        ```bash
        # Update basic information
        curl -X PUT "https://dev-api.cometbid.org/v1/user/profile?user-session-id=sess_123" \
          -H "Authorization: Bearer eyJhbGciOiJSUzI1NiIs..." \
          -H "Content-Type: application/json" \
          -d '{
            "firstName": "John",
            "lastName": "Smith",
            "jobTitle": "Senior Software Engineer",
            "city": "Seattle",
            "state": "WA"
          }'

        # Update with response customization
        curl -X PUT "https://dev-api.cometbid.org/v1/user/profile?user-session-id=sess_123&includeFullProfile=true" \
          -H "Authorization: Bearer eyJhbGciOiJSUzI1NiIs..." \
          -H "Content-Type: application/json" \
          -d '{
            "preferredLanguage": "en",
            "socialProfiles": {
              "linkedinUrl": "https://linkedin.com/in/johnsmith",
              "githubUrl": "https://github.com/johnsmith"
            }
          }'
        ```

        **Reference:** [User Profile Management](/public/specs/docs/usage-user-profile.html#3-update-user-profile-api)
      operationId: updateUserProfile
      security:
        - BearerAuth: []
      parameters:
        - name: X-User-Session-Id
          in: header
          description: User session Identifier(this can also be a query parameter - 'user-session-id')
          required: true
          schema:
            type: string
            example: "sess_456..."
        - name: categories
          in: query
          description: Categories to include in response
          required: false
          schema:
            type: string
            example: "basic,professional"
        - name: includeFullProfile
          in: query
          description: Include full updated profile in response
          required: false
          schema:
            type: boolean
            default: false
        - name: noLinks
          in: query
          description: Exclude HATEOAS links from response
          required: false
          schema:
            type: boolean
            default: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUserProfileRequest"
            examples:
              basic_update:
                summary: Basic information update
                value:
                  firstName: "John"
                  lastName: "Smith"
                  phoneNumber: "+1234567890"
              professional_update:
                summary: Professional information update
                value:
                  jobTitle: "Senior Software Engineer"
                  companyName: "Tech Corp"
                  yearsOfExperience: 8
                  professionalBio: "Experienced engineer specializing in cloud architecture"
              comprehensive_update:
                summary: Multi-category update
                value:
                  firstName: "John"
                  lastName: "Smith"
                  jobTitle: "Senior Software Engineer"
                  city: "Seattle"
                  state: "WA"
                  preferredLanguage: "en"
                  socialProfiles:
                    linkedinUrl: "https://linkedin.com/in/johnsmith"
                    githubUrl: "https://github.com/johnsmith"
                  skills: ["JavaScript", "Java"]
      responses:
        "200":
          description: Profile updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateUserProfileResponse"
              examples:
                basic_update:
                  summary: Basic information update response
                  value:
                    message: "Profile updated successfully"
                    code: "UPDATE_USER_SUCCESS"
                    user:
                      basic:
                        firstName: "John"
                        lastName: "Smith"
                        phoneNumber: "+1234567890"
                professional_update:
                  summary: Professional information update response
                  value:
                    message: "Profile updated successfully"
                    code: "UPDATE_USER_SUCCESS"
                    user:
                      professional:
                        jobTitle: "Senior Software Engineer"
                        companyName: "Tech Corp"
                        yearsOfExperience: 8
                        professionalBio: "Experienced engineer specializing in cloud architecture"
                comprehensive_update:
                  summary: Multi-category update response
                  value:
                    message: "Profile updated successfully"
                    code: "UPDATE_USER_SUCCESS"
                    user:
                      basic:
                        firstName: "John"
                        lastName: "Smith"
                        phoneNumber: "+1234567890"
                      professional:
                        jobTitle: "Senior Software Engineer"
                        companyName: "Tech Corp"
                        yearsOfExperience: 8
                      location:
                        city: "Seattle"
                        state: "WA"
                      preferences:
                        preferredLanguage: "en"
                      social:
                        socialProfiles:
                          linkedinUrl: "https://linkedin.com/in/johnsmith"
                          githubUrl: "https://github.com/johnsmith"
                      metadata:
                        skills: ["JavaScript", "Java"]
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/UserNotFoundError"
        "500":
          $ref: "#/components/responses/ServerError"
        "501":
          $ref: "#/components/responses/NotImplementedError"

  /users/search:
    get:
      tags: [User Profile, Administration]
      summary: Search users (Admin)
      description: |
        Search users with filters and pagination (admin only).

        **Search Criteria:**
        - Email, membership name, role, status
        - Membership plan and tier
        - Location (city, state, country)
        - Date ranges and custom filters

        **Response:**
        - User data
        - Pagination metadata

        **Pagination:**
        - Page-based pagination
        - Token-based pagination for large datasets
        - Configurable page sizes
        - Sort options

        **Reference:** [User Profile Documentation](/public/specs/docs/usage-user-profile.html#1-search-users-api)
      operationId: searchUsers
      security:
        - BearerAuth: []
      parameters:
        - name: email
          in: query
          description: Filter by email address
          schema:
            type: string
        - name: membershipName
          in: query
          description: Filter by membership name
          schema:
            type: string
        - name: status
          in: query
          description: Filter by user status
          schema:
            type: string
            enum: [ACTIVE, INACTIVE, PENDING, DISABLED]
        - name: membershipPlan
          in: query
          description: Filter by membership plan
          schema:
            type: string
            enum: [INDIVIDUAL, GROUP, ORGANIZATION]
        - name: page
          in: query
          description: Page number (1-based)
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: pageSize
          in: query
          description: Number of results per page
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 20
        - name: sortBy
          in: query
          description: Field to sort by
          schema:
            type: string
            default: "createdAt"
        - name: sortOrder
          in: query
          description: Sort direction
          schema:
            type: string
            enum: [asc, desc]
            default: "desc"
        - name: nextPageToken
          in: query
          description: Token for next page (alternative to page number)
          schema:
            type: string
      responses:
        "200":
          description: Users found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchUsersResponse"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/ProfileNotFoundError" 
        "500":
          $ref: "#/components/responses/ServerError"
        "501":
          $ref: "#/components/responses/NotImplementedError"

  # Admin Management Endpoints
  /users/admin/status:
    put:
      tags: [Administration]
      summary: Toggle user enable/disable status
      description: |
        Enable or disable user accounts (admin only).

        **Admin Operations:**
        - Enable disabled user accounts
        - Disable active user accounts for security
        - Provide reason for audit trail
        - Cannot disable own account

        **Use Cases:**
        - Security incidents (disable compromised accounts)
        - Account recovery (re-enable after resolution)
        - Compliance requirements
        - Temporary account suspension

        **Security:**
        - Requires admin role
        - Full audit logging
        - Cannot self-disable
        - Reason tracking for compliance

        **Reference:** [Admin role Documentation](/public/specs/docs/usage-toggle-user-status.html#toggle-user-enabledisable)
      operationId: toggleUserEnable
      security:
        - BearerAuth: []
      parameters:
        - name: user-session-id
          in: query
          required: true
          description: Admin user session identifier
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ToggleUserEnableRequest"
            examples:
              disable_user:
                summary: Disable user account
                value:
                  email: "user@example.com"
                  action: "disable"
                  reason: "Account compromised - suspicious activity detected"
              enable_user:
                summary: Enable user account
                value:
                  email: "user@example.com"
                  action: "enable"
                  reason: "Issue resolved - account restored"
      responses:
        "200":
          description: User status updated successfully
          headers:
            X-Correlation-ID:
              description: Request correlation ID
              schema:
                type: string
            X-Session-ID:
              description: Admin session ID
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminStatusChangeResponse"
              examples:
                disable_success:
                  summary: User disabled successfully
                  value:
                    message: "User disabled successfully"
                    code: "USER_DISABLED_SUCCESS"
                    action: "disable"
                    email: "user@example.com"
                    timestamp: 1623456789000
                    correlationId: "12345678-1234-1234-1234-123456789012"
                enable_success:
                  summary: User enabled successfully
                  value:
                    message: "User enabled successfully"
                    code: "USER_ENABLED_SUCCESS"
                    action: "enable"
                    email: "user@example.com"
                    timestamp: 1623456789000
                    correlationId: "12345678-1234-1234-1234-123456789012"
        "403":
          description: Insufficient permissions or self-action attempt
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Insufficient permissions to perform this action"
                  code:
                    type: string
                    enum: [AUTHORIZATION_ERROR, CANNOT_DISABLE_SELF]
        "400":
          $ref: "#/components/responses/AdminEnableValidationError"  
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/SearchResultsNotFoundError"
        "500":
          $ref: "#/components/responses/ServerError"
        "501":
          $ref: "#/components/responses/NotImplementedError"

  /users/admin/activation:
    put:
      tags: [Administration]
      summary: Toggle user activation status
      description: |
        Activate or deactivate user accounts (admin only).

        **Activation vs Enable:**
        - **Enable/Disable**: Account access control
        - **Activate/Deactivate**: Account lifecycle management

        **Operations:**
        - Activate pending or deactivated accounts
        - Deactivate accounts for maintenance
        - Bulk account lifecycle management
        - Temporary account suspension

        **Reference:** [Admin role Documentation](/public/specs/docs/usage-toggle-user-status.html#toggle-user-activation)
      operationId: toggleUserActivation
      security:
        - BearerAuth: []
      parameters:
        - name: X-User-Session-Id
          in: header
          description: Admin user session identifier(this can also be a query parameter - 'user-session-id')
          required: true
          schema:
            type: string
            example: "user_sess_456..."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ToggleUserActivationRequest"
            examples:
              deactivate_user:
                summary: Deactivate user account
                value:
                  email: "user@example.com"
                  action: "deactivate"
                  reason: "User requested account deactivation"
              activate_user:
                summary: Activate user account
                value:
                  email: "user@example.com"
                  action: "activate"
                  reason: "User requested account reactivation"
      responses:
        "200":
          description: User activation status updated
          headers:
            X-Correlation-ID:
              description: Request correlation ID
              schema:
                type: string
            X-Session-ID:
              description: Admin session ID
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminAccountActivationResponse"
              examples:
                deactivate_success:
                  summary: User account de-activated successfully
                  value:
                    message: "User de-activated successfully"
                    code: "USER_DEACTIVATED_SUCCESS"
                    action: "deactivate"
                    email: "user@example.com"
                    timestamp: 1623456789000
                    correlationId: "12345678-1234-1234-1234-123456789012"
                activate_success:
                  summary: User account activated successfully
                  value:
                    message: "User activated successfully"
                    code: "USER_ACTIVATED_SUCCESS"
                    action: "activate"
                    email: "user@example.com"
                    timestamp: 1623456789000
                    correlationId: "12345678-1234-1234-1234-123456789012"

        "403":
          description: Insufficient permissions or self-action attempt
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Insufficient permissions to perform this action"
                  code:
                    type: string
                    enum: [AUTHORIZATION_ERROR, CANNOT_DISABLE_SELF]
        "400":
          $ref: "#/components/responses/AdminActivationValidationError"  
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/UserNotFoundError"
        "500":
          $ref: "#/components/responses/ServerError"
        "501":
          $ref: "#/components/responses/NotImplementedError"

# Complete Schema Components
components:
  schemas:
    # Add the missing SignUpRequest schema
    SignUpRequest:
      type: object
      required:
        [
          email,
          password,
          firstName,
          lastName,
          membershipName,
          membershipPlan,
          jobTitle,
          country,
        ]
      properties:
        email:
          type: string
          format: email
          description: User's email address (will be username)
          example: "user@example.com"
          maxLength: 254
        password:
          type: string
          format: password
          description: |
            Password meeting security requirements:
            - Minimum 8 characters
            - At least one uppercase letter
            - At least one lowercase letter
            - At least one number
            - At least one special character
          minLength: 8
          maxLength: 128
        firstName:
          type: string
          description: User's first name
          minLength: 1
          maxLength: 50
          example: "John"
        lastName:
          type: string
          description: User's last name
          minLength: 1
          maxLength: 50
          example: "Doe"
        membershipName:
          type: string
          description: |
            Unique membership identifier/username.
            - Must be unique across all users
            - Alphanumeric characters and underscores only
            - 3-50 characters
          minLength: 3
          maxLength: 50
          pattern: "^[a-zA-Z0-9_]+$"
          example: "johndoe123"
        membershipPlan:
          type: string
          enum: [INDIVIDUAL, GROUP, ORGANIZATION]
          description: |
            Membership plan type:
            - `INDIVIDUAL`: Personal membership
            - `GROUP`: Small team membership (2-10 users)
            - `ORGANIZATION`: Enterprise membership (10+ users)
        membershipTier:
          type: string
          enum: [BASIC, PRO, PREMIUM, ENTERPRISE]
          description: Optional membership tier for enhanced features
        jobTitle:
          type: string
          description: User's job title or role
          maxLength: 100
          example: "Software Engineer"
        companyName:
          type: string
          description: User's company or organization name
          maxLength: 100
          example: "Tech Company"
        selfEmployed:
          type: boolean
          description: Whether user is self-employed
          default: false
        city:
          type: string
          description: User's city
          maxLength: 50
          example: "San Francisco"
        state:
          type: string
          description: User's state or province
          maxLength: 50
          example: "CA"
        country:
          type: string
          description: User's country (required)
          maxLength: 50
          example: "USA"

    # Add the corresponding response schema
    SignUpResponse:
      type: object
      properties:
        correlationId:
          type: string
          description: Request correlation ID for tracking
          example: "12345678-1234-1234-1234-123456789012"
        message:
          type: string
          example: "User registration successful"
        timestamp:
          type: integer
          format: int64
          description: Response timestamp
        detailMessage:
          type: string
          example: "Please check your email for a verification code to complete your registration"
        email:
          type: string
          description: Masked email address for privacy
[...]
